:root {
	/* Colors */
	--yellow: #f4c869;
	--green: #73c08c;
	--purple: #956cae;
	--slake: #6058f8;
	--b: 0.1em; /* the thickness of the line */
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

a {
	font-size: 27px;
	font-weight: 700;
	line-height: 1.5;
	text-decoration: none;
	color: #0000;
	padding-block: var(--b);
	background: linear-gradient(var(--slake) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%, linear-gradient(var(--slake) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

a:hover {
	--_p: 100%;
	--_s: 0.3s;
}
