:root {
	/* Colors */
	--yellow: #f4c869;
	--green: #73c08c;
	--purple: #956cae;
	--slake: #6058f8;
	--bg: #f2e8da;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 900 2rem/1.3 system-ui;
	background-color: var(--bg);
}

mark {
	background: none;
	text-decoration-line: line-through;
	text-decoration-color: rgba(255, 251, 0, 0.5);
	text-decoration-color: oklch(95.44% 0.233 108.53/0.5);
}

blockquote {
	max-inline-size: 40ch;
}

blockquote cite {
	font-weight: 500;
	display: block;
	opacity: 0.5;
	text-indent: 1rem;
}

blockquote cite::before {
	content: "—";
}
